In [1]:
import numpy as np
import pandas as pd

# Preprocessing

In [2]:
COLUMNS = ['station','date','feature', 'value', 'measurement','quality', 'source', 'hour']

In [3]:
#Transform Data to meaningful features
df = pd.read_csv('../data/2014.csv', header=None, names=COLUMNS)

In [4]:
df = df.append(pd.read_csv('../data/2015.csv', header=None, names=COLUMNS))
df = df.append(pd.read_csv('../data/2016.csv', header=None, names=COLUMNS))
df = df.append(pd.read_csv('../data/2017.csv', header=None, names=COLUMNS))

In [5]:
df.head()

       station      date feature  value measurement quality source  hour
0  ASN00015643  20140101    TMAX    424         NaN     NaN      a   NaN
1  ASN00015643  20140101    TMIN    227         NaN     NaN      a   NaN
2  ASN00015643  20140101    PRCP      0         NaN     NaN      a   NaN
3  US1MNCV0008  20140101    PRCP      0         NaN     NaN      N   NaN
4  US1MNCV0008  20140101    SNOW      0         NaN     NaN      N   NaN

In [6]:
#Only selecting features who are available in Test Set + Feature to be predicted
selected_features = ['TMIN']

In [7]:
df = df[df['feature'].isin(selected_features)]

In [8]:
df_pivot = df.pivot_table(index=['station','date'], columns='feature', values='value', aggfunc=np.min)

In [9]:
#Include Location Information?
df_stations = pd.read_csv('../data/ghcnd-stations.csv', header=None, names=['station','lat', 'long', 'elev'], sep=';')

In [10]:
df_time = df_pivot['TMIN']
df_time = df_time.reset_index()
len(df_time)
df_time.head()

       station      date  TMIN
0  AE000041196  20140101   128
1  AE000041196  20140102   145
2  AE000041196  20140103   140
3  AE000041196  20140106   162
4  AE000041196  20140109   115

In [12]:
df_cheat = pd.merge(df_time, df_stations, on='station')
df_cheat.head()

       station      date  TMIN     lat    long  elev
0  AE000041196  20140101   128  25.333  55.517  34.0
1  AE000041196  20140102   145  25.333  55.517  34.0
2  AE000041196  20140103   140  25.333  55.517  34.0
3  AE000041196  20140106   162  25.333  55.517  34.0
4  AE000041196  20140109   115  25.333  55.517  34.0

In [13]:
file_path = '../data/export_features_loc_MAX.csv'
df_cheat.to_csv(file_path)